*{
    outline:1px dashed #ccc;
}

.main-header-titles {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-shadow: 2px 2px rgba(0,0,00.5);
}
.main-header-titles h1{
    font-family:"oswald",'futara';
}

h1 {
    background-color:white;
    color:green;
}

h1{
    text-align:center;
}
body{
    font-family:"roboto",'Lucida Sans';
    font-size:12pt;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border-radius:20%;
    
}
body{
    border-style: solid;
    border-color: red;
}

p1{
    background-color:blueviolet;
}

p3{
    background-color:aquamarine;
}

header {
    background-image: url(http://images6.fanpop.com/image/photos/39000000/Cat-cats-39082303-1680-1050.jpg);
    background-size: cover;
    background-position: center;
    width:300px;
}
